body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg') ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

a {
  margin:10px;
  background: #DB3030;
  color: white;
  padding-left:  15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid red;
  text-decoration: none;

}

.texto {

  max-width: 600px;
  background: rgba(0,0,0,0.65);
  color: white;
  border-radius: 18px;
  padding: 20px;
  margin: 10px;

}
